@import "../../../styles/common.scss";

.gc-button-warning{
    background-color: $color-dark-green;
    border: 1px solid $color-orange;
    color: $color-orange;

        &:active{
        background-color: $color-green;
    }
}