$color-dark-green: #163e3d;
$color-green: #234e4d;
$color-light-green: #7bc7ab;
$color-orange: #f5a200;
$color-white: #ffff;

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$navbar-height: 41.547px + (2 * 8px);

$primary: #f5a200;

.gc-button{
    padding: 8px;
    min-width: 140px;
    border-radius: 5px;
    font-family: $font-family-sans-serif;
}

.yellow-hr {
    margin: 0 !important;
    color: #F5A200 !important;
    border: 0 !important;
    border-top: 2px solid !important;
    opacity: 100 !important;
}