$theme-colors: (
    "primary": #163e3d,
    "success": #7bc7ab,
    "danger": #f5a200
);
$body-bg: #163e3d;
$modal-content-bg: #163e3d;
$modal-content-color: #ffff;
$btn-close-color: #ffff;
$accordion-color: #ffff;
$accordion-button-active-bg: #234e4d;
$accordion-button-active-color: #ffff;
$accordion-button-focus-border-color: #234e4d;
$accordion-border-color: #234e4d;
$accordion-button-focus-box-shadow: 0 0 0 .25rem #234e4d;
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";