@import "../../styles/common.scss";

.color-nav{
    background-color: #163E3D;
}

.color-link{
    color: white;
    background-color: transparent !important;
    border-color: transparent !important;
}

.logo-navbar{
    font-family: 'Open Sans', sans-serif;
}

svg path {
    stroke: white;
}