@import "../../styles/common.scss";

.color-link{
    color: white;
    background-color: transparent !important;
    border-color: transparent !important;
}

.logo-navbar{
    transform: scale(1.4);
    @media screen and (max-width: 400px){
        transform: scale(1.2);
    }
}

.gc-navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $navbar-height;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #163E3D;
    z-index: 1000;
}
.gc-navbar-content{
    height: $navbar-height;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.gc-navbar-item{
    position: relative;
    cursor: pointer;
}

.gc-navbar-user-menu{
    position: absolute;
    right: 0%;
    top: 120%;
}

.dropdown-content{
    background-color: white;
    padding: 10px;
}

.dropdown-item{
    display: inline-block;
    margin: 5px;
}