.mapfilters-buttons-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.check-box-filter{
    display: flex;
    flex-direction: row;
    gap: 10px;
}