@import "../../../styles/common.scss";

.name-contains-filter{
    padding: 10px;  
    background-color: #234E4D;

}

.name-contains-search{
    margin-top: 10px;
    margin-bottom: 10px;
    input{
        width: 100%;
    }
}  
