@import "../../../styles/common.scss";

.published-hidden-filters{
    padding: 10px;  
    background-color: #234E4D;
}

.radio-button-filter{
    padding: 5px;
    
    input{
        position: relative;
    }
    label{
        margin-left: 5px;
    }
}  

.public-text-input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    input{
        width: 100%;
    }
}

#since{
    visibility: visible;  
}

#until{
    visibility: visible;   
}
