@import "../../styles/common.scss";

.button-basic{
    border: solid 1px $color-light-green;
}
.home-page-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
}

.feed-section{
    @media screen and (min-width: 1080px){
        width: 40%;
    }
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feed-header{
    text-align: center;
}

.load-button{
    width: 105px;
}