@import "../../styles/common.scss";

.map-menu-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
}

.map-menu-toolbar-left {
    align-items: flex-start;
    grid-area: lb;
    //background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.map-menu-toolbar-bottom {
    grid-area: bb;
    //background-color: blue;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
}

.map-menu-home-link {
    width: 50px;
    height: 50px;
}

.map-menu-toolbar-item {
    pointer-events: all;
}

.map-menu-button {
    height: 50px;
    width: fit-content;
    padding: 10px;
    background-color: $color-dark-green;
    color: white;
    border: solid 1px white;
    cursor:pointer;
}

.map-menu-button--icon {
    height: 50px;
    width: fit-content;
    padding: 10px;
    background-color: $color-dark-green;
    color: white;
    border: none;
    border-radius: 2px;
    cursor:pointer;
}

.map-menu-button--icon:active {
    background-color: $color-green;
}