@import "../../styles/common.scss";

.geocachelist{
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.geocache-item{
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px $color-light-green;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    color: black;
}

p{
    margin-bottom: 0 !important;
}