@import "../../styles/common.scss";

.geocachelist{
    list-style-type: none;
    padding: 0;
    @media screen and (min-width: 600px){
        width: 400px;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    a{
        text-decoration: none;
    }
    margin: 0;
}

.geocache-item{
    border: solid 1px $color-light-green;
    border-radius: 6px;
    background-color: white;
    padding: 10px;
    color: black;
}

.flex-row {
    display: flex;
    gap: 5px;
}

p{
    margin-bottom: 0 !important;
}
