@import "../../styles/common.scss";

.button-basic{
    border: solid 1px $color-light-green;
}
.cache-page-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
}

.feed-section{
    @media screen and (min-width: 1080px){
        width: 40%;
    }
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.layout{
    color: black;
    background-color: white;
    min-height: 100vh;
    margin-top: $navbar-height;
}

.button{
    background-color: #7BC7AB;
    color: #163E3D;
    padding: 10px;
}
